.nav-bar{
  background: #286a46;
  height: .98rem;
  .common-logo{
    display: inline;
    width: 2.92rem;
    height: .56rem;
    position: absolute;
    left: .24rem;
    top: .22rem;
  }
  .top-menu-btn{
    width: .37rem;
    height: .36rem;
  }
}